@media screen and (min-width: 300px) and (max-width: 570px) {
  .navbarFirst .navbar-text ul {
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
  }
  .navbarFirst .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    padding: 6px 0 0px 0 !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbarFirst .navbar-toggler-icon i {
    color: #fff !important;
    font-size: 21px !important;
    padding-left: 10px !important;
  }
  .navbarNavFirst {
    display: flex;
    flex-direction: row !important;
    padding: 10px 0 0 25px !important;
  }

  .navbarFirstLi {
    padding: 10px 10px;
  }

  .navbarFirst .right-btn {
    margin: 10px 0 15px 28px !important;
  }
  .nav-logo {
    box-shadow: none !important;
    border: none !important;
  }
  .navbarTwo .dropdown-menu[data-bs-popper] {
    margin-left: 15px !important;
    width: 174px !important;
  }
  .navbarTwo .navbar-nav .dropdown-menu {
    position: static;
    width: 174px;
    margin-left: 15px;
  }
  .navbarTwo .navbar-light .navbar-toggler {
    border: none !important;
  }
  .navbarTwo .applyNowBtn {
    margin: 0 0 10px 16px !important;
  }
  .navItemMs a {
    margin-left: 0 !important;
  }
  .navbarNavHome {
    padding-left: 10px;
  }
  .slide-headings {
    display: none;
  }
  .man-img {
    width: unset;
  }
  .why-us {
    background-color: #ffeeef;
    height: unset;
  }

  footer {
    height: unset;
    text-align: center;
    display: flex;
  }
  .meet-people-text {
    height: unset !important;
    width: unset !important;
    position: unset !important ;
    top: 80px;
    left: 180px;
    text-align: center;
    padding: 2rem 0.3rem 0 0.3rem;
    z-index: 2;
  }
  .meet-people-text h1 {
    font-size: 2.1rem;
  }
  .meet-people-text p {
    font-size: 1.2rem;
    padding: 0 1.3rem;
    width: 70%;
    margin: auto;
  }
  .meet-people {
    top: -352px;
  }
  .meet-people-img-left {
    z-index: -1;
  }
  .meet-people-img-right {
    z-index: -1;
  }
  .contact-section {
    padding-top: 2rem;
  }
  .why-us-heading h1 {
    font-size: 2.3rem;
  }

  /* *************************  */
  .ExpertSupportPanel-head {
    padding-bottom: 3rem;
    padding-left: 0 !important;
  }

  /* *****************************  */
  .ExpertSupportPanel {
    text-align: center !important;
  }
  .ExpertSupportPanel {
    width: unset !important;
  }
  .trustworthy-services {
    width: 246px;
  }
  .trustworthy-services i {
    padding-left: 1rem;
  }
  .trustworthy-services-btn button {
    margin: auto;
    display: flex;
  }
  /**************************/

  /**************************/
  .who-text {
    margin-top: 1.5rem;
  }
  .who-we-are-text {
    text-align: center;
    padding: 15px 13px 0 13px;
  }
  .settlement-of-boxes {
    position: unset !important;
  }

  .elementorWhite {
    background-color: white;
  }
  .elementorInner {
    display: flex;
    flex-direction: column;
    margin: 18px auto;
    width: unset !important;
  }
  .elementor-inner-position {
    margin: 10px auto;
  }

  .elementor-inner-position {
    width: unset !important;
  }
  .blank-box {
    height: 385px;
  }
}

@media screen and (min-width: 570px) and (max-width: 992px) {
  .navbar-text ul {
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    padding: 6px 0 0px 0 !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbarFirst .navbar-toggler-icon i {
    color: #fff !important;
    font-size: 21px !important;
  }
  .right-btn {
    margin: 10px 0 15px 28px !important;
  }
  .navbarNavFirst {
    display: flex;
    flex-direction: row !important;
    padding: 10px 0 0 25px !important;
  }

  .navbarFirstLi {
    padding: 10px 10px;
  }
  .dropdown-menu[data-bs-popper] {
    margin-left: 15px !important;
    width: 174px !important;
  }
  .navbar-nav .dropdown-menu {
    position: static;
    width: 174px;
    margin-left: 15px;
  }
  .man-img {
    width: unset !important;
  }

  .who-we-are-text {
    text-align: center;
    margin: 2rem 0;
  }
  .why-us {
    background-color: #ffeeef;
    height: unset;
  }
  footer {
    height: unset;
    text-align: center;
    display: flex;
  }
  .meet-people-text {
    height: unset !important;
    width: unset !important;
    position: unset !important ;
    top: 80px;
    left: 180px;
    text-align: center;

    padding-top: 2rem;
    z-index: 2;
  }
  .meet-people {
    top: -352px;
  }
  .meet-people-img-left {
    z-index: -1;
  }
  .meet-people-img-right {
    z-index: -1;
  }
  .contact-section {
    padding-top: 2rem;
  }
  .why-us-heading h1 {
    font-size: 37px;
  }
  .ExpertSupportPanel {
    width: unset !important;
  }
  .counter-number h1 {
    font-size: 40px;
    padding-right: 15px;
  }
  .counter-number .choose-img {
    padding-top: 0 !important;
  }
  .opportunities h2 {
    font-size: 23px;
  }

  .numberBottomText p {
    font-size: 15px;
  }

  .opportunities-head {
    display: flex;
    justify-content: space-between;
  }
  .ExpertSupportPanel h2 {
    font-size: 22px;
  }
  .ExpertSupportPanel span i {
    font-size: 40px;
  }
  .ExpertSupportPanel p {
    font-size: 16px;
  }
  .icon-head i {
    display: inline-block;
  }

  .elementorInner {
    width: unset !important;
    height: unset !important;
    margin-top: 1rem;
  }

  .slide-headings a {
    padding: 10px 25px;
  }

  .blank-box {
    height: 400px !important;
  }

  .trustworthy-services-btn button {
    margin: auto;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .slide-headingsh1 {
    font-size: 1.5rem !important;
  }
}

@media screen and (min-width: 769px) {
  .man-img {
    width: unset !important;
  }
}
@media screen and (max-width: 769px) {
  .opportunitiesCol .row {
    display: flex;
    flex-direction: column;
  }
  .ExpertSupportPanel-head .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .ExpertSupportPanel-head {
    padding: 1rem 0 0 0;
  }
}
@media screen and (min-width: 992px) {
  .elementorInner {
    width: unset !important;
    height: unset !important;
  }
  /*  CAROUSEL SECTION  */

  /* .slide-headings h1 {
    font-size: 2.5rem;
  } */
  .slide-headings a {
    padding: 10px 25px;
  }

  /*  WHO WE ARE  */

  .trustworthy-services-btn {
    text-align: center;
  }
  .ExpertSupportPanel {
    width: unset !important;
  }
  .why-us {
    height: unset !important;
  }
  .why-us-heading h1 {
    padding-bottom: 2rem;
  }
  .meet-people {
    top: -195px;
  }
}

/* POSITION SECTION  */

@media screen and (max-width: 1300px) {
  .elementor-position {
    bottom: -8rem;
  }
}

@media screen and (max-width: 1200px) {
  .elementor-position {
    bottom: -8rem;
  }
}

@media screen and (max-width: 1120px) {
  .elementor-position {
    bottom: -8rem;
    /* padding: 0 2rem; */
  }
}

@media screen and (max-width: 1050px) {
  .elementor-position {
    bottom: -8rem;
  }
}

@media screen and (max-width: 950px) {
  .elementor-position {
    bottom: -8rem;
  }
}

@media screen and (max-width: 850px) {
  .elementor-position {
    /* padding: 0 1rem; */
    bottom: -9rem;
  }
}

@media screen and (max-width: 800px) {
  .elementor-position {
    position: unset !important;
    padding: 2rem 1rem 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 991px) {
  .elementor-position {
    padding: 0 2rem !important;
  }
}
@media screen and (max-width: 800px) {
  .blank-box-one {
    height: unset !important;
  }
  .carousel-item {
    height: unset;
  }
}
/* **************************************** */
/* VERTICAL ACCORDIAN FOR COUNTRY SECTION  */
/* **************************************** */
@media screen and (min-width: 1000px) {
  .country-vertical-accordian {
    display: none !important;
  }
}

/* ********************* */
/* HORIZONTAL SLIDER */
/* ********************* */
@media screen and (min-width: 1000px) {
  .container-main {
    display: block !important;
  }
}
@media screen and (max-width: 1000px) {
  .container-main {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .slidess {
    display: initial;
  }
  .slideLi {
    width: 100% !important;
    margin-bottom: 15px;
    height: auto;
    border-radius: 10px;
  }
  .slide-content {
    width: 100% !important;
    padding: 25px;
    font: 95%;
  }
}
@media screen and (max-width: 1250px) {
  .slideLi {
    height: 37.625rem !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1174px) {
  .slideLi a.action span {
    width: 128px !important;
    left: 5px !important;
  }
  .slide-contentt {
    padding-left: 25px !important;
  }
}
@media screen and (max-width: 1191px) {
  .contact-click {
    margin-top: 0 !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1075px) {
  .contact-click {
    /* margin-top: 0px !important; */
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .container,
  .container-sm {
    max-width: unset !important;
  }
  .navbar-light .navbar-toggler {
    border: none !important;
    padding: 0 !important;
  }
}
@media (min-width: 570px) and (max-width: 992px) {
  .navbarFirst .navbar-text ul {
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
  }
  .navbarFirst .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    padding: 6px 0 0px 0 !important;
  }
  .navbarFirst .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbarFirst .navbar-toggler-icon i {
    color: #fff !important;
    font-size: 21px !important;
    padding-left: 10px !important;
  }
  .navbarNavFirst {
    display: flex;
    flex-direction: row !important;
    padding: 10px 0 0 25px !important;
  }

  .navbarFirstLi {
    padding: 10px 10px;
  }

  .navbarFirst .right-btn {
    margin: 10px 0 15px 28px !important;
  }
}
@media (min-width: 320px) and (max-width: 992px) {
}
@media screen and (min-width: 570px) and (max-width: 992px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    padding: 0 10px 0 6px !important;
  }
  .navbarTwo .applyNowBtn {
    margin: 0 0 10px 16px !important;
  }
  .nav-logo {
    box-shadow: none !important;
    border: none !important;
  }
}
@media screen and (min-width: 570px) and (max-width: 768px) {
  .man-left {
    display: flex;
    justify-content: center;
  }
  .who-text {
    padding: 0 25px;
  }
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .carousel-caption {
    right: 5%;
    left: 5%;
  }
}
