* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



a {
  text-decoration: none !important;
}
/* **************************/
/*FIRST NAVBAR*/
/* **************************/
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(40px);
  }
}

.elementor-widget-container {
  width: 140px;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
}

.wave-animation {
  display: inline-block;
}

.elementor-widget-container:hover .wave-animation {
  color: #fff;

  animation: wave 0.25s linear;
}

.elementor-widget-container .wave-animation:nth-child(2n) {
  animation-delay: 0.1s;
}

.elementor-widget-container .wave-animation:nth-child(3n) {
  animation-delay: 0.15s;
}

.elementor-widget-container .wave-animation:nth-child(4n) {
  animation-delay: 0.2s;
}

.elementor-widget-container .wave-animation:nth-child(5n) {
  animation-delay: 0.25s;
}

.elementor-widget-container .wave-animation:nth-child(6n) {
  animation-delay: 0.3s;
}

.elementor-widget-container .wave-animation:nth-child(7n) {
  animation-delay: 0.4s;
}



.navbarFirst .navbar-text ul {
  display: flex;
  align-items: center !important;
}

.navbarFirst .navbar-text ul li {
  list-style: none;
  padding-left: 25px;
}
.navbarFirst .navbar {
  background-color: rgba(10, 26, 65, 0.925);
}
.navbarFirst .navbar-text ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.navbarFirst .nav-item a i {
  color: #fff;
  margin-right: 1rem;
}
.navbarFirst .navbar-toggler-icon {
  display: inline-block;
  
}
.right-btn {
  background-color: #e13833;
  line-height: 40px;
  margin-left: 1.5rem;
  display: inline-block;
  padding-right: 25px !important;
}
.right-btn a i {
  color: #fff !important;
}
.navbar-text ul li a i {
  color: #e13833;
}

/*****************************/
/* SECOND NAVBAR */
/*****************************/

.nav-logo {
  height: 50px;
  width: 166px;
}
.nav-logo img {
  height: 100%;
  width: 100%;

  padding: 7px;
}
.navbarTwo .navbar-light .navbar-nav .nav-link {
  color: #000000 !important;
  font-weight: 450 !important;
  font-size: 17px !important;
}
.navbarTwo .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.2rem !important;
  padding-left: 1.3rem;
}
.navbarTwo .nav-item a i {
  color: #fff;
  margin-right: 0 !important;
}
.applyNowBtn {
  border-radius: 30px;
  border: none !important;
  padding: 10px 30px;
  background-color: #e13833;
}
.applyNowBtn a {
  color: white !important;
  font-weight: 500;
}
.applyNowBtn {
  background-color: #e13833 !important;
}
.applyNowBtn:hover {
  background-color: #6ea1f1 !important;
  transition: all 0.5s ease-in-out;
}
.navbarTwo .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbarTwo .navbar-nav .nav-item.dropdown .dropdown-menu {
  display: none;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*******************************/
/* (CAROUSEL) SECTION */
/*******************************/

.slide-content span.carousel-control {
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 6px 12px 9px 10px;
  width: 40px;
}
.slide-content img.d-block.w-100 {
  height: 80vh;
}
.carousel-caption {
  display: block;
  height: 365px;
}

.slide-headings h1 {
  font-size: 4rem;
}
.slide-headings a {
  border: 2px solid #fff;
  padding: 16px 40px;
  border-radius: 2px;
  color: #fff;
}
.slide-content img.d-block.w-100 {
  object-fit: cover;
}

.elementor-left-btn {
  background-color: #e13833;
  border: none !important;
}

.elementor-left-btn {
  background-image: linear-gradient(to bottom, transparent 50%, #357ded 50%);
  background-size: 100% 200%;
  background-position: 0 0;
  transition: background-position 0.5s ease-in-out;
  color: #357ded;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

.elementor-left-btn:hover {
  background-position: 0 100%;
  color: #fff;
}

.elementor-right-btn {
  background-image: linear-gradient(to bottom, transparent 50%, #357ded 50%);
  background-size: 100% 200%;
  background-position: 0 0;
  transition: background-position 0.5s ease-in-out;
  color: #5b74f6;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

.elementor-right-btn:hover {
  background-position: 0 100%;
  color: #fff;
  border: 2px solid #357ded;
}

.slide-headings {
  position: absolute;
  top: -100px;
  left: 160px;
}

.carousel-caption {
  position: relative;
}

/**********************************/
/* POSITION SECTION- THREE BOXES */
/*********************************/

.elementorInner {
  width: 350px;
  height: 220px;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.53);
  color: #000000;
  padding: 10px;
}
.elementorWhite {
  background-color: #fff;
}
.elementorWhite span i:hover {
  background-color: rgba(128, 128, 128, 0.249);
  color: #e13833 !important;
  transition: all 0.5 ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}

.elementorblue span i:hover {
  background-color: #fff;
  color: #0048b4 !important;
  transition: all 0.6 ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}
.elementorblue {
  background-color: #1b1257;
  color: #fff;
}
.elementor-position {
  position: absolute;
  bottom: -147px;
  left: 102px;
  margin: 3rem 0;
}
.elementorblue span i {
  font-size: 40px;
  background-color: #0048b4;
  border-radius: 50%;
  padding: 18px;
}
.elementorWhite span i {
  background-color: #e13833;
  border-radius: 50%;
  padding: 18px;
  font-size: 40px;
}
.slide-content {
  position: relative;
}
/* ...............  */
.blank-box-one {
  height: 220px;
}
/* d-none d-md-block  */

/*******************/
/* WHO WE ARE */
/****************** */
.who-we-are-text p {
  padding: 1rem 0;
}
.man-img {
  height: 572px;
  width: 600px;
  padding-left: 3rem;
}
.man-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.who-we-are-text h5 {
  color: #e13833;
}
.who-we-are-text h1 {
  font-weight: bold;
}
.trustworthy-services i {
  font-size: 30px;
  display: inline-block;
  padding-top: 10px;
  color: #5b74f6;
}
.trustworthy-services {
  width: 250px;
  display: flex;
}
.trustworthy-services p {
  text-align: justify;
}

.trustworthy-text {
  text-align: center;
  padding: 0 8px;
}
.trustworthy-text i {
  color: #0048b4;
  font-size: 35px;
}
.trustworthy-text i:hover {
  color: #e40046;
  transition: all 0.4s ease-in-out;
}

.trustworthy-text h5 {
  padding: 15px 0 5px 0;
}

.trustworthy-services h5 {
  font-weight: 600;
}
.choose-us {
  height: 300px;
  width: 230px;
  background-color: #5b74f6;
  position: absolute;
  bottom: 140px;
  left: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.582);
  border-radius: 2px;
}
.choose-us i {
  font-size: 40px;
}
.choose-us h5 {
  padding: 16px 0 8px 0;
}
.trustworthy-services-btn {
  margin-top: 1.5rem;
}
/* .trustworthy-services-btn button {
  border: 0;
  background-color: #e13833;
  color: #fff;
  padding: 8px 25px;
  font-weight: 600;
  border-radius: 2px;
}

.trustworthy-services-btn button:hover {
  background-color: #5b74f6;
  transition: all 0.4s ease-in;
} */
.trustworthy-services-btn button {
  border: 0;
  background-image: linear-gradient(to left, transparent 50%, #5b74f6 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-color: #e13833;
  color: #fff;
  padding: 8px 25px;
  font-weight: 600;
  border-radius: 2px;
  transition: background-position 0.6s ease-in, color 0.6s ease-in;
}

.trustworthy-services-btn button:hover {
  background-position: 0 0;
  /* color:#5b74f6; */
  background-color: #e13833;
}
.blank-box {
  height: 250px;
}

/* ***************** */
/* FOOTER SECTION */
/****************** */
.meet-people-head-sec {
  position: relative;
}
.meet-people {
  background-image: url("./images/cta-bg2.jpg");
  height: 400px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  top: -160px;
  z-index: 1;
  left: 0px;
}
.meet-people {
  position: absolute;
}
.meet-people img {
  height: 440px;
  width: 280px;
}
.meet-people-img-left {
  position: absolute;
  bottom: -80px;
  left: -110px;
}
.meet-people-img-right {
  position: absolute;
  right: -120px;
  top: -80px;
}
.meet-people-text {
  height: 200px;
  width: 800px;
  position: absolute;
  top: 80px;
  left: 180px;
}
.meet-people-text h1 {
  font-size: 60px;
}
.meet-people-text p {
  font-size: 20px;
}
.meet-people-text button {
  padding: 13px 35px;
  background-color: #8a0f3d;
  border: none;
  color: #fff;
  font-weight: 600;
  margin-top: 25px;
}
footer {
  background-color: #061d25;
  height: 550px;
  display: flex;
  align-items: end;
  position: relative;
}
.footer-icons {
  padding-top: 1.5rem;
}
.contact-section {
  color: #fff;
}

.contact-section a {
  color: #fff;
  display: inline-block;
}
.contact-section a span i {
  color: #8a0f3d;
}
.footer-icons a i {
  background-color: #fff;
  padding: 10px;
  color: #061d25 !important;
  margin-right: 10px;
}

.meet-people-text button {
  background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: 0 0;
  transition: background-position 0.6s ease-in-out;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

.meet-people-text button:hover {
  background-position: 0 100%;
  color: #8a0f3d;
}

/* ********************/
/* WHY CHOOSE US SECTION */
/* ********************/
.ExpertSupportPanel-head {
  padding-left: 3rem;
}

.why-us {
  background-color: #ffeeef;
  height: 790px;
  display: flex;
  align-items: center;
}
.why-us-heading h1 {
  text-align: center;
  padding-bottom: 3rem;
}

.why-us-heading h5 {
  text-align: center;
}
.opportunities {
  background-color: #fff;
  border-radius: 10px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
.opportunities h2 {
  padding-top: 0.5rem;
}
.counter-number {
  display: flex;
  padding: 8px 0;
}
.counter-number .choose-img {
  padding-top: 0.5rem;
}
.choose-img img {
  border-radius: 50%;
}
.checked {
  color: #e13833;
}
.fa.fa-star {
  font-size: 30px;
}
.ExpertSupportPanel {
  width: 350px;
  padding: 16px 0;
}
.ExpertSupportPanel span i {
  font-size: 45px;
  color: #e13833;
  font-weight: 300;
}
.why-us-heading h1 {
  font-size: 3rem;
  font-weight: 450;
}
.ExpertSupportPanel h2 {
  font-weight: 400;
  padding-top: 16px;
}
.ExpertSupportPanel p {
  font-size: 18px;
  color: #000000a6;
}

.why-us-heading h5 {
  color: #0048b4;
}
.opportunities h6 {
  color: #e13833;
}
.counter-number h1 {
  color: #0693e3;
  font-size: 60px;
  padding-right: 20px;
}
.contact-section p a:hover {
  color: #8a0f3d;
  text-decoration: underline !important;
  transition: all 0.4s ease-in-out;
}
.footer-icons a span i:hover {
  background-color: #8a0f3d;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}

/* **************************************** */
/* VERTICAL ACCORDIAN FOR COUNTRY SECTION  */
/* **************************************** */
.expressEntryContent {
  padding: 10px 0 15px 0;
  font-size: 20px;
}
.country-vertical-accordian {
  background-color: #fff;
}
.accordion-button {
  position: relative;

  padding: 2rem 1.25rem !important;
}
.asked_box h1 {
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}

.accordion_box .accordion-item {
  background-color: rgb(45, 45, 45);
  color: #fff;
}

.accordion-button::after {
  background-image: none !important;
}
.accordion_box .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #e13833;
  font-size: 25px;
  padding: 30px;
}

.accordion_box .accordion-body {
  font-size: 25px;
}

.accordion_box .accordion-button {
  background-color: #00255c;
  color: #fff;
  font-size: 25px;
}
.accordion_box .accordion-body {
  background: #00255c;
}

.accordion_box {
  margin-bottom: 10px;
}

.accordion_box .accordion-item:last-of-type .accordion-button.collapsed {
  padding: 30px;
}

.bottom_text {
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

.bottom_text h5 {
  font-size: 25px;
}

.AccordFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.roundCheckAccord {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
}
/* ********************* */
/* HORIZONTAL SLIDER */
/* ********************* */

.container-main {
  max-width: 1300px;
  margin: 40px auto;
  text-align: center;
  padding-left: none !important;
}
.slidess {
  width: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 !important;
}
.slideLi {
  list-style: none;
  height: 550px;
  width: 10%;
  overflow: hidden;
  transition: all 0.2s ease;
  background-color: #00255c;
  border-right: 1px solid #fff;
}
.slideLi:hover {
  background-color: #e13833;
}
/* .contact-click:hover {
  background-color: #e13833;
  color: #fff !important;
  border: #e13833 1px solid;
  transition: 0.5s;
} 
 .contact-click {
  text-align: left !important;
  padding: 14px 34px;
  border-radius: 30px;
  background-color: #fff;
  color: #e13833;
  display: flex;
  margin-top: 20px;
  border: 1px solid #fff;
  font-weight: 600;
}  */

/* ........................... */

.contact-click {
  text-align: left !important;
  padding: 14px 34px;
  border-radius: 30px;
  background-image: linear-gradient(to left, transparent 50%, #e13833 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.7s ease-in-out, color 0.7s ease-in-out,
    border 0.5s ease-in-out;
  color: #e13833;
  display: flex;
  margin-top: 20px;
  border: 1px solid #fff;
  font-weight: 600;
}

.contact-click:hover {
  background-position: 0 0;
  color: #fff;
  border: #e13833 1px solid;
}

.slideLi a.action {
  display: block;
  height: 100%;
  position: relative;
}
.slideLi a.action span {
  font-weight: 600;
  color: #fff;
  transform: rotate(270deg);
  position: absolute;
  top: 36%;
  width: 137px;
  left: 12px;
  height: 100px;
  font-size: 29px;
}
.slide-contentt {
  padding: 40px;
  background-color: #00255c;
  width: 100% !important;
  color: #fff;
  height: 590px;
}
.active {
  width: 80%;
}
.active a.action {
  display: none;
}

.roundCheckAccord {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.AccordFlex {
  display: flex;
  align-items: center;
}
.AccordFlex p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.AccordFlex p {
  text-align: left;
  font-size: 17px;
}
.countryMain {
  font-size: 30px;
}
.expressServices {
  padding-bottom: 20px;
}
.expressServices p {
  padding-top: 20px;
}
.roundCheck {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}
